## Importing and Organizing Your Data in Python - Part II

In [2]:
from pandas_datareader import data as wb
import os

os.environ["IEX_API_KEY"] = "sk_6ef715bfc2c54296bdf79b8b0590ba8b"
F = wb.DataReader('F', data_source='iex', start='2015-1-1')
F

             open   high    low  close    volume
date
2015-01-07  14.78  15.09  14.77  15.04  26065329
2015-01-08  15.40  15.48  15.23  15.42  33943398
2015-01-09  15.46  15.47  15.06  15.21  23420750
2015-01-12  15.31  15.32  15.11  15.22  22750784
2015-01-13  15.38  15.48  15.08  15.21  26279378
...           ...    ...    ...    ...       ...
2019-12-30   9.34   9.35   9.23   9.25  36085418
2019-12-31   9.25   9.33   9.24   9.30  32345377
2020-01-02   9.29   9.42   9.19   9.42  43432239
2020-01-03   9.31   9.37   9.15   9.21  45059915
2020-01-06   9.10   9.17   9.06   9.16  43380677

[1258 rows x 5 columns]

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Morningstar for Ford starting from the 1st of January 2005 until today).

In [3]:
F.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1258 entries, 2015-01-07 to 2020-01-06
Data columns (total 5 columns):
open      1258 non-null float64
high      1258 non-null float64
low       1258 non-null float64
close     1258 non-null float64
volume    1258 non-null int64
dtypes: float64(4), int64(1)
memory usage: 59.0+ KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [4]:
F.head()

             open   high    low  close    volume
date
2015-01-07  14.78  15.09  14.77  15.04  26065329
2015-01-08  15.40  15.48  15.23  15.42  33943398
2015-01-09  15.46  15.47  15.06  15.21  23420750
2015-01-12  15.31  15.32  15.11  15.22  22750784
2015-01-13  15.38  15.48  15.08  15.21  26279378

Practice extracting closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use IEX to find the tickers of these companies, if you don’t already know them.

***

Repeat this exercise for any stock of interest to you. :)