## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
ser = pd.Series(np.random.random(10), name = "Column 01")

In [3]:
ser

0    0.086409
1    0.104939
2    0.001603
3    0.008454
4    0.595768
5    0.862220
6    0.807619
7    0.040381
8    0.481832
9    0.795351
Name: Column 01, dtype: float64

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

In [4]:
from pandas_datareader import data as wb
os.environ["IEX_API_KEY"] = "sk_6ef715bfc2c54296bdf79b8b0590ba8b"

In [5]:
#import inspect
#m = inspect.getmembers(pandas_datareader)
#print(m)
F = wb.DataReader('F', data_source='iex', start='2015-1-1')

In [6]:
F

             open   high    low  close    volume
date
2015-01-05  15.12  15.13  14.69  14.76  44079745
2015-01-06  14.88  14.90  14.38  14.62  32981627
2015-01-07  14.78  15.09  14.77  15.04  26065329
2015-01-08  15.40  15.48  15.23  15.42  33943398
2015-01-09  15.46  15.47  15.06  15.21  23420750
...           ...    ...    ...    ...       ...
2019-12-26   9.47   9.49   9.43   9.45  28982311
2019-12-27   9.45   9.46   9.35   9.36  28273603
2019-12-30   9.34   9.35   9.23   9.25  36085418
2019-12-31   9.25   9.33   9.24   9.30  32345377
2020-01-02   9.29   9.42   9.19   9.42  43432239

[1258 rows x 5 columns]