## Calculating the Return of Indices

Consider three famous American market indices â€“ Dow Jones, S&P 500, and the Nasdaq for the period of 1st of January 2000 until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [5]:
ind_data = pd.read_csv('Indices_Exercise_Data.csv', index_col='Date')
ind_data.head()

                    ^DJI        ^GSPC        ^IXIC
Date
2017-12-06  24140.910156  2629.270020  6776.379883
2017-12-07  24211.480469  2636.979980  6812.839844
2017-12-08  24329.160156  2651.500000  6840.080078
2017-12-11  24386.029297  2659.989990  6875.080078
2017-12-12  24504.800781  2664.110107  6862.319824

In [6]:
ind_data.tail()

                    ^DJI        ^GSPC        ^IXIC
Date
2017-12-06  24140.910156  2629.270020  6776.379883
2017-12-07  24211.480469  2636.979980  6812.839844
2017-12-08  24329.160156  2651.500000  6840.080078
2017-12-11  24386.029297  2659.989990  6875.080078
2017-12-12  24504.800781  2664.110107  6862.319824

Normalize the data to 100 and plot the results on a graph.

How would you explain the common and the different parts of the behavior of the three indices?

*****

Obtain the simple returns of the indices.

Estimate the average annual return of each index.