## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from *MSFT_AAPL_2000_2017.csv*.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
sec_data = pd.read_csv('MSFT_AAPL_2000_2017.csv', index_col='Date')
sec_data

                 MSFT        AAPL
Date
1999-12-31  38.965767    3.303425
2000-01-03  38.903194    3.596616
2000-01-04  37.589046    3.293384
2000-01-05  37.985374    3.341579
2000-01-06  36.712940    3.052405
...               ...         ...
2017-03-17  64.158463  138.869217
2017-03-20  64.217804  140.327454
2017-03-21  63.505699  138.720413
2017-03-22  64.316704  140.287766
2017-03-23  64.158463  139.791763

[4334 rows x 2 columns]

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
...              ...       ...
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542

[4334 rows x 2 columns]

## MSFT

In [4]:
msft_avg_return = sec_returns['MSFT'].mean()
msft_avg_annual_return = sec_returns['MSFT'].mean() * 250

msft_std = sec_returns['MSFT'].std()
msft_annual_std = sec_returns['MSFT'].std() * 250 ** 0.5

In [5]:
print(msft_avg_annual_return)
print(msft_annual_std)

0.028771781450598596
0.31080365106770774

## Apple

In [6]:
aapl_avg_return = sec_returns['AAPL'].mean()
aapl_avg_annual_return = sec_returns['AAPL'].mean() * 250

aapl_std = sec_returns['AAPL'].std()
aapl_annual_std = sec_returns['AAPL'].std() * 250 ** 0.5

In [7]:
print(aapl_avg_annual_return)
print(aapl_annual_std)

0.21608551229758874
0.4389547233905951

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

In [8]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000386  0.000218
AAPL  0.000218  0.000771

***

Correlation matrix:

In [9]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.400153
AAPL  0.400153  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [10]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [11]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.09961622870546055

Portfolio Volatility:

In [14]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.31562038702444517

In [15]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

31.562 %